@{
    Layout = "_Layout";
}

@using PierresVendors.Models;
<div class="card">
    <div class= 'card-header'>
        <h3>Orders: </h3>
    </div>
    <div class="card-body">
        @if (@Model["orders"].Count == 0)
{
  
    <h3>No orders have been added yet!</h3>
    
}
        <ol>
            @foreach (Order order in @Model["orders"])
        {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'><button class="button btn-outline-info ordersListed" class='orderButton'>@order.Name</button></a></li>
        }
        </ol>
    </div>
    <div class="card-footer">
        <a href='/vendors/@Model["vendor"].Id/orders/new'   class='naviButton'><button class="button btn-outline-success">Add New Order</button></a>
        <a href='/'  class='naviButton'><button class="button btn-outline-info">Return to Home</button></a>
        <a href='/vendors'  class='naviButton'><button class="button btn-outline-secondary">Back To Vendors</button></a>
    </div>
</div>