@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <div class="card-header"><h1>Welcome to Pierre's Bakery: Administrative tools!</h1>
        </div>

        <div class='card-body'>
            <h4>Welcome to Pierre's Bakery Administrative Tools!</h4>
            <p>Please feel free to add new vendors to you list of vendors from this page, as well as view vendors already added. Once done, you can view orders placed by various vendors on the vendors' specific page.</p>
        <a href='/vendors/new' class='naviButton'><button class="button btn-outline-success">Add New Vendor</button></a>
        <a href='/vendors'  class='naviButton'><button class="button btn-outline-warning">View Vendors</button></a>
        
    </div>
</div>