@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Welcome to the Vendors List!</h1>
        <a href='/vendors'>View Vendors</a>
        <a href='/vendors/new'>Add a new vendor</a>
    </div>
</div>