@{
    Layout = "_Layout";
}
<div class='card'>
  <h1> Your List has been cleared!</h1>
  <div class='card-footer'>
   <a href="/orders"  class='naviButton'><button class="button btn-outline-success">Back to list.</button></a>
  </div>
</div>